<form [formGroup]="profileForm">
    <div class="mb-3">
        <input
         type="text"
         formControlName="firstName"
         placeholder="Name"
         class="form-control"
        >
    </div>
    <div class="mb-3">
        <input
         type="text"
         formControlName="lastName"
         placeholder="Last Name"
         class="form-control"
        >
    </div>

    <div class="container" formArrayName="hobbys">
        <h4>Hobbys</h4>
        <div class="mb-3" *ngFor="let hobby of hobbys.controls; let i = index">
            <div class="col-10">
                <input type="text" [formControlName]="i" placeholder="Enter your Number {{i + 1}} hobby" class="form-control">
            </div>
            <div class="col-2">
                <button (click)="removeHobby(i)" class="btn btn-danger btn-block">Remove</button>
            </div>
        </div>
    </div>
    <button (click)="addHobby()">ADD HOBBY</button>

</form>

